.container{
    max-width: 1200px;
    margin: 0 auto;
}
.row{
    display: flex;
    flex: 1;  /*fills container*/
    cursor: pointer;
    
    
}
.column {
    display: flex ;
    flex: 1;
    cursor: pointer;
    color: transparent;
    
    
}

 .column:hover{
background-color: black;

}